@import "tailwindcss";

@import "lightgallery/css/lightgallery.css";
@import "lightgallery/css/lg-thumbnail.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tw-gray: #6d7278;
  --tw-light-gray: #eceef3;
  --tw-dark-blue: #0089df;
  --tw-blue: #019dff;
  --tw-sky-blue: #eef9ff;
  --tw-green: #00bf80;
  --tw-yellow: #ffbc05;
  --tw-red: #ff0202;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kanit", sans-serif;
}

.text-tw-blue {
  color: var(--tw-blue);
}

.bg-tw-blue {
  background-color: var(--tw-blue);
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (width <= 62rem) and (width > 48rem) {
  .container {
    max-width: 45rem !important;
  }
}

@media (width <= 75rem) and (width > 62rem) {
  .container {
    max-width: 60rem !important;
  }
}
@media (width > 75rem) {
  .container {
    max-width: 72rem !important;
  }
}

.sarabun {
  font-family: "Sarabun";
}

button {
  cursor: pointer;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

h2 {
  margin: 1.25rem 0;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
  margin: 1rem 0;
}
