.mobileMenu {
  background-color: white;
  position: fixed;
  inset: 0;

  width: 15rem;
  padding: 1rem;
  z-index: 3;
}

.linkIcon {
  font-size: 2rem;
  margin-left: 1rem;
  display: inline-block;
}

.menuList {
  margin: 1rem 0 1rem 0;
  padding: 0;
  list-style-type: none;
}
.menuList > li {
  font-size: 0.95rem;
}

.menuList > li > a {
  font-size: 1rem;
  color: var(--tw-black);
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
}

.subMenuList {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 15rem;
  width: calc(100% - 13rem);
  height: 100%;

  z-index: 9;
  background-color: var(--tw-light-gray);

  margin: 0;
  padding: 1rem;

  overscroll-behavior: none;
  overflow: scroll;
}

.subMenuList > li {
  margin-bottom: 0.5rem;
}

.line {
  margin: 1rem -1rem;
  border: 0;
  border-top: 0.25px solid var(--tw-blue);
  opacity: 0.5;
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  z-index: 2;
}
